# Cos'è Pandas?
### Da Wikipedia: "In informatica, Pandas è una libreria software scritta per il linguaggio di programmazione Python per la manipolazione e l'analisi dei dati. In particolare, offre strutture dati e operazioni per manipolare tabelle numeriche e serie temporali".

In [1]:
# Importare la libreria "pandas"
import pandas as pd

# Sezioni del notebook:
1. ### Creare un df partendo da un file .csv o da un file .json
2. ### Selezionare porzioni di un df pt.1 (head, tail e slicing)
3. ### Selezionare porzioni di un df pt.2 ("loc" ed "iloc")
4. ### Iterare su un df (iteritems, iterrows ed itertuples)
5. ### Ordinare un df
6. ### Aggiungere una colonna ad un df
7. ### Cancellare una colonna da un df
8. ### Cambiare posizione delle colonne in un df
9. ### Rinominare una colonna in un df
10. ### Aggiungere una riga ad un df
11. ### Cancellare una riga da un df
12. ### Modificare una o più righe di un df
13. ### Filtrare i dati
14. ### Individuare massimi di colonna, minimi di colonna e righe contenenti massimi/minimi di colonna
15. ### Raggruppare le righe di un df (group by, sum, mean, min, max, count)
16. ### Pulire un df
17. ### Eseguire join tra df

# 1. Creare un df partendo da un file .csv o da un file .json

### Un DataFrame di Pandas è una struttura dati bidimensionale e tabulare che rappresenta una forma di dato comune in analisi dei dati e data science.
### In pratica, un DataFrame è simile a una tabella in un database o un foglio di calcolo, dove le righe rappresentano le osservazioni o le istanze e le colonne rappresentano le variabili o le caratteristiche di queste istanze.

### In questa prima parte del notebook lavoreremo con un dataset a tema Pokémon disponibile a questo link: 
https://gist.github.com/armgilles/194bcff35001e7eb53a2a8b441e8b2c6
### Tutti i dataset utilizzati in questo notebook sono disponibili nella relativa repository github.

In [2]:
# Creare un df partendo da un file .json
path = "/kaggle/input/dataset-per-pandas/pokemon.json"
df = pd.read_json(path)
df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [3]:
# Creare un df partendo da un file .csv
path = "/kaggle/input/dataset-per-pandas/pokemon.csv"
df = pd.read_csv(path)
df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

### Approfondimenti sul metodo "read_csv()":
* ### Il parametro "sep" di "read_csv()" consente di specificare come sono separati i campi delle righe del csv file. sep = ";" oppure sep = "\t" per file tabulati.
* ### Il parametro "delimiter" di "read_csv()" consente di specificare come sono separate le righe del csv file. ES: delimiter = "\n".
* ### Il parametro "index_col" di "read_csv()" consente di specificare quale colonna del df farà da indice, evitando così l'aggiunta dell'indice automatico.

### I parametri sopra citati non sono obbligatori.

In [4]:
# Impostare la colonna "Name" come index
path = "/kaggle/input/dataset-per-pandas/pokemon.csv"
pokemon_df = pd.read_csv(path, index_col = "Name")
pokemon_df

,#,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Name,,,,,,,,,,,,
Bulbasaur,1,Grass,Poison,318,45,49,49,65,65,45,1,False
Ivysaur,2,Grass,Poison,405,60,62,63,80,80,60,1,False
Venusaur,3,Grass,Poison,525,80,82,83,100,100,80,1,False
VenusaurMega Venusaur,3,Grass,Poison,625,80,100,123,122,120,80,1,False
Charmander,4,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
Diancie,719,Rock,Fairy,600,50,100,150,100,150,50,6,True
DiancieMega Diancie,719,Rock,Fairy,700,50,160,110,160,110,110,6,True
HoopaHoopa Confined,720,Psychic,Ghost,600,80,110,60,150,130,70,6,True
HoopaHoopa Unbound,720,Psychic,Dark,680,80,160,60,170,130,80,6,True
Volcanion,721,Fire,Water,600,80,110,120,130,90,70,6,True

In [5]:
# Impostare la colonna "#" come index
path = "/kaggle/input/dataset-per-pandas/pokemon.csv"
pokemon_df = pd.read_csv(path, index_col = "#")
pokemon_df

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

# 2. Selezionare porzioni di un df pt.1 (head, tail e slicing)

* ### .head(n) consente di prendere le prime n righe di un df
* ### .tail(n) consente di prendere le ultime n righe di un df

In [6]:
# Prendere le prime 5 righe del df usando ".head(5)"
pokemon_df = df.head(5) # NB: Stiamo creando un nuovo df
pokemon_df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [7]:
# Prendere le ultime 3 righe del df usando ".tail(3)"
pokemon_df = df.tail(3) # NB: Stiamo creando un nuovo df
pokemon_df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [8]:
# Prendere le righe del df dalla 10 alla 18 (comprese)
pokemon_df = df[10:19] # Estremo sinistro incluso, estremo destro non incluso
pokemon_df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
10,8,Wartortle,Water,NaN,405,59,63,80,65,80,58,1,False
11,9,Blastoise,Water,NaN,530,79,83,100,85,105,78,1,False
12,9,BlastoiseMega Blastoise,Water,NaN,630,79,103,120,135,115,78,1,False
13,10,Caterpie,Bug,NaN,195,45,30,35,20,20,45,1,False
14,11,Metapod,Bug,NaN,205,50,20,55,25,25,30,1,False
15,12,Butterfree,Bug,Flying,395,60,45,50,90,80,70,1,False
16,13,Weedle,Bug,Poison,195,40,35,30,20,20,50,1,False
17,14,Kakuna,Bug,Poison,205,45,25,50,25,25,35,1,False
18,15,Beedrill,Bug,Poison,395,65,90,40,45,80,75,1,False

In [9]:
# Prendere le colonne "Name", "Type 1" e "Type 2" del df
pokemon_df = df[["Name", "Type 1", "Type 2"]]
pokemon_df

                      Name   Type 1  Type 2
0                Bulbasaur    Grass  Poison
1                  Ivysaur    Grass  Poison
2                 Venusaur    Grass  Poison
3    VenusaurMega Venusaur    Grass  Poison
4               Charmander     Fire     NaN
..                     ...      ...     ...
795                Diancie     Rock   Fairy
796    DiancieMega Diancie     Rock   Fairy
797    HoopaHoopa Confined  Psychic   Ghost
798     HoopaHoopa Unbound  Psychic    Dark
799              Volcanion     Fire   Water

[800 rows x 3 columns]

In [10]:
# Prendere le colonne "Name", "Type 1" e "Type 2" e le righe dalla 10 alla 13 (comprese) del df
pokemon_df = df[["Name", "Type 1", "Type 2"]][10:14]
pokemon_df

                       Name Type 1 Type 2
10                Wartortle  Water    NaN
11                Blastoise  Water    NaN
12  BlastoiseMega Blastoise  Water    NaN
13                 Caterpie    Bug    NaN

# 3. Selezionare porzioni di un df pt.2 ("loc" ed "iloc")

### "loc" ed "iloc" consentono di selezionare un subset di righe e di colonne del nostro df. 
### La differenza tra i due è che "loc" lavora con le etichette (nomi colonne e indice riga) mentre "iloc" lavora con numero colonna e numero riga.

In [11]:
# Reimpostare df
pokemon_df = pd.read_csv("/kaggle/input/dataset-per-pandas/pokemon.csv", index_col = "Name")
pokemon_df

,#,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Name,,,,,,,,,,,,
Bulbasaur,1,Grass,Poison,318,45,49,49,65,65,45,1,False
Ivysaur,2,Grass,Poison,405,60,62,63,80,80,60,1,False
Venusaur,3,Grass,Poison,525,80,82,83,100,100,80,1,False
VenusaurMega Venusaur,3,Grass,Poison,625,80,100,123,122,120,80,1,False
Charmander,4,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
Diancie,719,Rock,Fairy,600,50,100,150,100,150,50,6,True
DiancieMega Diancie,719,Rock,Fairy,700,50,160,110,160,110,110,6,True
HoopaHoopa Confined,720,Psychic,Ghost,600,80,110,60,150,130,70,6,True
HoopaHoopa Unbound,720,Psychic,Dark,680,80,160,60,170,130,80,6,True
Volcanion,721,Fire,Water,600,80,110,120,130,90,70,6,True

# 4. Iterare su un df (iteritems, iterrows ed itertuples)

* ### "Iteritems": restituisce coppie key:value (key = nome colonna, value = valore associato alla colonna)
* ### "Iterrow": restituisce coppie index:row
* ### "Itertuple": restituisce la riga del df nella forma di una tupla di pandas

### NB: questi strumenti vengono utilizzati per leggere e non per modificare i dati poiché restituiscono una copia della riga letta (per tanto modificare la riga che otteniamo lascia invariato il df di partenza)

### Lavoriamo con un df contenente una singola riga per comodità (altrimenti i risultati sarebbero sull'iterazione di tutte le righe)

In [12]:
pokemon_df = pd.read_csv("/kaggle/input/dataset-per-pandas/pokemon.csv")
df = pokemon_df.head(1)
df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False

In [13]:
# Iteritems - key
for key, value in df.iteritems():
    print(key)

#
Name
Type 1
Type 2
Total
HP
Attack
Defense
Sp. Atk
Sp. Def
Speed
Generation
Legendary

In [14]:
# Iteritems - value
for key, value in df.iteritems():
    print(value)

0    1
Name: #, dtype: int64
0    Bulbasaur
Name: Name, dtype: object
0    Grass
Name: Type 1, dtype: object
0    Poison
Name: Type 2, dtype: object
0    318
Name: Total, dtype: int64
0    45
Name: HP, dtype: int64
0    49
Name: Attack, dtype: int64
0    49
Name: Defense, dtype: int64
0    65
Name: Sp. Atk, dtype: int64
0    65
Name: Sp. Def, dtype: int64
0    45
Name: Speed, dtype: int64
0    1
Name: Generation, dtype: int64
0    False
Name: Legendary, dtype: bool

### Gli "0" che vedi indicano la riga. 
### Il valore di nostro interesse si trova subito alla destra di questi "0" ("1", "Bulbasaur", "Grass" ...). 
### Sotto ad ogni valore viene indicato il nome ed il tipo della colonna a cui quel valore appartiene ("#", "Name", "Type 1" ...).

In [15]:
# Iterrow
for index, row in df.iterrows():
    print(row)

#                     1
Name          Bulbasaur
Type 1            Grass
Type 2           Poison
Total               318
HP                   45
Attack               49
Defense              49
Sp. Atk              65
Sp. Def              65
Speed                45
Generation            1
Legendary         False
Name: 0, dtype: object

In [16]:
# Itertuples
for t in df.itertuples():
    print(t)

Pandas(Index=0, _1=1, Name='Bulbasaur', _3='Grass', _4='Poison', Total=318, HP=45, Attack=49, Defense=49, _9=65, _10=65, Speed=45, Generation=1, Legendary=False)

### I vari "_1", "_2", "_3" che vedi sono dovuti al fatto che pandas non riesce a leggere bene i nomi delle colonne se queste contengono spazi o simboli come "#".

# 5. Ordinare un df

* ### sort_index: ordina per indice
* ### sort_values: ordina per una colonna di nostra scelta

### NB: Entrambi gli approcci portano alla creazione di un nuovo df, mentre quello di partenza rimane invariato.

In [17]:
# Reimpostare df
df = pd.read_csv("/kaggle/input/dataset-per-pandas/pokemon.csv", index_col = "Name") # NB: Name funge da index
df

,#,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Name,,,,,,,,,,,,
Bulbasaur,1,Grass,Poison,318,45,49,49,65,65,45,1,False
Ivysaur,2,Grass,Poison,405,60,62,63,80,80,60,1,False
Venusaur,3,Grass,Poison,525,80,82,83,100,100,80,1,False
VenusaurMega Venusaur,3,Grass,Poison,625,80,100,123,122,120,80,1,False
Charmander,4,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
Diancie,719,Rock,Fairy,600,50,100,150,100,150,50,6,True
DiancieMega Diancie,719,Rock,Fairy,700,50,160,110,160,110,110,6,True
HoopaHoopa Confined,720,Psychic,Ghost,600,80,110,60,150,130,70,6,True
HoopaHoopa Unbound,720,Psychic,Dark,680,80,160,60,170,130,80,6,True
Volcanion,721,Fire,Water,600,80,110,120,130,90,70,6,True

In [18]:
# Ordinare per nome crescente (INDEX)
df_ordinato = df.sort_index()
df_ordinato

,#,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Name,,,,,,,,,,,,
Abomasnow,460,Grass,Ice,494,90,92,75,92,85,60,4,False
AbomasnowMega Abomasnow,460,Grass,Ice,594,90,132,105,132,105,30,4,False
Abra,63,Psychic,NaN,310,25,20,15,105,55,90,1,False
Absol,359,Dark,NaN,465,65,130,60,75,60,75,3,False
AbsolMega Absol,359,Dark,NaN,565,65,150,60,115,60,115,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...
Zoroark,571,Dark,NaN,510,60,105,60,120,60,105,5,False
Zorua,570,Dark,NaN,330,40,65,40,80,40,65,5,False
Zubat,41,Poison,Flying,245,40,45,35,30,40,55,1,False
Zweilous,634,Dark,Dragon,420,72,85,70,65,70,58,5,False
Zygarde50% Forme,718,Dragon,Ground,600,108,100,121,81,95,95,6,True

In [19]:
# Ordinare per nome decrescente (INDEX)
df_ordinato = df.sort_index(ascending = False)
df_ordinato

,#,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Name,,,,,,,,,,,,
Zygarde50% Forme,718,Dragon,Ground,600,108,100,121,81,95,95,6,True
Zweilous,634,Dark,Dragon,420,72,85,70,65,70,58,5,False
Zubat,41,Poison,Flying,245,40,45,35,30,40,55,1,False
Zorua,570,Dark,NaN,330,40,65,40,80,40,65,5,False
Zoroark,571,Dark,NaN,510,60,105,60,120,60,105,5,False
...,...,...,...,...,...,...,...,...,...,...,...,...
AbsolMega Absol,359,Dark,NaN,565,65,150,60,115,60,115,3,False
Absol,359,Dark,NaN,465,65,130,60,75,60,75,3,False
Abra,63,Psychic,NaN,310,25,20,15,105,55,90,1,False
AbomasnowMega Abomasnow,460,Grass,Ice,594,90,132,105,132,105,30,4,False
Abomasnow,460,Grass,Ice,494,90,92,75,92,85,60,4,False

In [20]:
# Ordinare per "Total" crescente
df_ordinato = df.sort_values(by = "Total")
df_ordinato

,#,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Name,,,,,,,,,,,,
Sunkern,191,Grass,NaN,180,30,30,30,30,30,30,2,False
Azurill,298,Normal,Fairy,190,50,20,40,20,40,20,3,False
Kricketot,401,Bug,NaN,194,37,25,41,25,41,25,4,False
Wurmple,265,Bug,NaN,195,45,45,35,20,30,20,3,False
Weedle,13,Bug,Poison,195,40,35,30,20,20,50,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
GroudonPrimal Groudon,383,Ground,Fire,770,100,180,160,150,90,90,3,True
KyogrePrimal Kyogre,382,Water,NaN,770,100,150,90,180,160,90,3,True
MewtwoMega Mewtwo Y,150,Psychic,NaN,780,106,150,70,194,120,140,1,True
RayquazaMega Rayquaza,384,Dragon,Flying,780,105,180,100,180,100,115,3,True
MewtwoMega Mewtwo X,150,Psychic,Fighting,780,106,190,100,154,100,130,1,True

In [21]:
# Ordinare per "Total" decrescente
df_ordinato = df.sort_values(by = "Total", ascending = False)
df_ordinato

,#,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Name,,,,,,,,,,,,
RayquazaMega Rayquaza,384,Dragon,Flying,780,105,180,100,180,100,115,3,True
MewtwoMega Mewtwo Y,150,Psychic,NaN,780,106,150,70,194,120,140,1,True
MewtwoMega Mewtwo X,150,Psychic,Fighting,780,106,190,100,154,100,130,1,True
KyogrePrimal Kyogre,382,Water,NaN,770,100,150,90,180,160,90,3,True
GroudonPrimal Groudon,383,Ground,Fire,770,100,180,160,150,90,90,3,True
...,...,...,...,...,...,...,...,...,...,...,...,...
Caterpie,10,Bug,NaN,195,45,30,35,20,20,45,1,False
Wurmple,265,Bug,NaN,195,45,45,35,20,30,20,3,False
Kricketot,401,Bug,NaN,194,37,25,41,25,41,25,4,False
Azurill,298,Normal,Fairy,190,50,20,40,20,40,20,3,False
Sunkern,191,Grass,NaN,180,30,30,30,30,30,30,2,False

### E' possibile ordinare su più colonne

In [22]:
# Ordinare per "Total" e per "Attack" decrescenti
df_ordinato = df.sort_values(by = ["Total", "Attack"], ascending = False)
df_ordinato

,#,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Name,,,,,,,,,,,,
MewtwoMega Mewtwo X,150,Psychic,Fighting,780,106,190,100,154,100,130,1,True
RayquazaMega Rayquaza,384,Dragon,Flying,780,105,180,100,180,100,115,3,True
MewtwoMega Mewtwo Y,150,Psychic,NaN,780,106,150,70,194,120,140,1,True
GroudonPrimal Groudon,383,Ground,Fire,770,100,180,160,150,90,90,3,True
KyogrePrimal Kyogre,382,Water,NaN,770,100,150,90,180,160,90,3,True
...,...,...,...,...,...,...,...,...,...,...,...,...
Weedle,13,Bug,Poison,195,40,35,30,20,20,50,1,False
Caterpie,10,Bug,NaN,195,45,30,35,20,20,45,1,False
Kricketot,401,Bug,NaN,194,37,25,41,25,41,25,4,False
Azurill,298,Normal,Fairy,190,50,20,40,20,40,20,3,False
Sunkern,191,Grass,NaN,180,30,30,30,30,30,30,2,False

# 6. Aggiungere una colonna ad un df

In [23]:
# Reimpostare df
df = pd.read_csv("/kaggle/input/dataset-per-pandas/pokemon.csv", index_col = "Name") # NB: Name funge da index
df

,#,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Name,,,,,,,,,,,,
Bulbasaur,1,Grass,Poison,318,45,49,49,65,65,45,1,False
Ivysaur,2,Grass,Poison,405,60,62,63,80,80,60,1,False
Venusaur,3,Grass,Poison,525,80,82,83,100,100,80,1,False
VenusaurMega Venusaur,3,Grass,Poison,625,80,100,123,122,120,80,1,False
Charmander,4,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
Diancie,719,Rock,Fairy,600,50,100,150,100,150,50,6,True
DiancieMega Diancie,719,Rock,Fairy,700,50,160,110,160,110,110,6,True
HoopaHoopa Confined,720,Psychic,Ghost,600,80,110,60,150,130,70,6,True
HoopaHoopa Unbound,720,Psychic,Dark,680,80,160,60,170,130,80,6,True
Volcanion,721,Fire,Water,600,80,110,120,130,90,70,6,True

## Metodo 1.

In [24]:
# Aggiungere la colonna "Atk+Def" (la quale conterrà la somma di "Attack" e "Defense" per ogni pokemon)
df["Atk+Def"] = df["Attack"]+df["Defense"]
df

,#,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Atk+Def
Name,,,,,,,,,,,,,
Bulbasaur,1,Grass,Poison,318,45,49,49,65,65,45,1,False,98
Ivysaur,2,Grass,Poison,405,60,62,63,80,80,60,1,False,125
Venusaur,3,Grass,Poison,525,80,82,83,100,100,80,1,False,165
VenusaurMega Venusaur,3,Grass,Poison,625,80,100,123,122,120,80,1,False,223
Charmander,4,Fire,NaN,309,39,52,43,60,50,65,1,False,95
...,...,...,...,...,...,...,...,...,...,...,...,...,...
Diancie,719,Rock,Fairy,600,50,100,150,100,150,50,6,True,250
DiancieMega Diancie,719,Rock,Fairy,700,50,160,110,160,110,110,6,True,270
HoopaHoopa Confined,720,Psychic,Ghost,600,80,110,60,150,130,70,6,True,170
HoopaHoopa Unbound,720,Psychic,Dark,680,80,160,60,170,130,80,6,True,220
Volcanion,721,Fire,Water,600,80,110,120,130,90,70,6,True,230

## Metodo 2.
### Usiamo "insert()", che prende come parametri "indice" (posizione nuova colonna), "nome" e "valore".

In [25]:
# Aggiungere la colonna "HP+Speed" (la quale conterrà la somma di "HP" e "Speed" per ogni pokemon)
df.insert(10, "HP+Speed", df["HP"]+df["Speed"])
df

,#,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,HP+Speed,Generation,Legendary,Atk+Def
Name,,,,,,,,,,,,,,
Bulbasaur,1,Grass,Poison,318,45,49,49,65,65,45,90,1,False,98
Ivysaur,2,Grass,Poison,405,60,62,63,80,80,60,120,1,False,125
Venusaur,3,Grass,Poison,525,80,82,83,100,100,80,160,1,False,165
VenusaurMega Venusaur,3,Grass,Poison,625,80,100,123,122,120,80,160,1,False,223
Charmander,4,Fire,NaN,309,39,52,43,60,50,65,104,1,False,95
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Diancie,719,Rock,Fairy,600,50,100,150,100,150,50,100,6,True,250
DiancieMega Diancie,719,Rock,Fairy,700,50,160,110,160,110,110,160,6,True,270
HoopaHoopa Confined,720,Psychic,Ghost,600,80,110,60,150,130,70,150,6,True,170
HoopaHoopa Unbound,720,Psychic,Dark,680,80,160,60,170,130,80,160,6,True,220
Volcanion,721,Fire,Water,600,80,110,120,130,90,70,150,6,True,230

## Metodo 3.
### Usiamo loc, specificando il nome della nuova colonna.

In [26]:
# Aggiungere la colonna "SpAtk+SpDef" (la quale conterrà la somma di "Sp. Atk" e "Sp. Def" per ogni pokemon)
df.loc[:, "SpAtk+SpDef"] = df["Sp. Atk"]+df["Sp. Def"]
df

,#,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,HP+Speed,Generation,Legendary,Atk+Def,SpAtk+SpDef
Name,,,,,,,,,,,,,,,
Bulbasaur,1,Grass,Poison,318,45,49,49,65,65,45,90,1,False,98,130
Ivysaur,2,Grass,Poison,405,60,62,63,80,80,60,120,1,False,125,160
Venusaur,3,Grass,Poison,525,80,82,83,100,100,80,160,1,False,165,200
VenusaurMega Venusaur,3,Grass,Poison,625,80,100,123,122,120,80,160,1,False,223,242
Charmander,4,Fire,NaN,309,39,52,43,60,50,65,104,1,False,95,110
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Diancie,719,Rock,Fairy,600,50,100,150,100,150,50,100,6,True,250,250
DiancieMega Diancie,719,Rock,Fairy,700,50,160,110,160,110,110,160,6,True,270,270
HoopaHoopa Confined,720,Psychic,Ghost,600,80,110,60,150,130,70,150,6,True,170,280
HoopaHoopa Unbound,720,Psychic,Dark,680,80,160,60,170,130,80,160,6,True,220,300
Volcanion,721,Fire,Water,600,80,110,120,130,90,70,150,6,True,230,220

# 7. Cancellare una colonna da un df

## Metodo 1.
### Usiamo "drop". Se non specifichiamo "inplace = True", creiamo in nuovo df. "axis = 1" specifica che lavoriamo con le colonne.

In [27]:
# Rimuovere la colonna "HP+Speed" precedentemente creata
df.drop("HP+Speed", inplace = True, axis=1)
df

,#,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Atk+Def,SpAtk+SpDef
Name,,,,,,,,,,,,,,
Bulbasaur,1,Grass,Poison,318,45,49,49,65,65,45,1,False,98,130
Ivysaur,2,Grass,Poison,405,60,62,63,80,80,60,1,False,125,160
Venusaur,3,Grass,Poison,525,80,82,83,100,100,80,1,False,165,200
VenusaurMega Venusaur,3,Grass,Poison,625,80,100,123,122,120,80,1,False,223,242
Charmander,4,Fire,NaN,309,39,52,43,60,50,65,1,False,95,110
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Diancie,719,Rock,Fairy,600,50,100,150,100,150,50,6,True,250,250
DiancieMega Diancie,719,Rock,Fairy,700,50,160,110,160,110,110,6,True,270,270
HoopaHoopa Confined,720,Psychic,Ghost,600,80,110,60,150,130,70,6,True,170,280
HoopaHoopa Unbound,720,Psychic,Dark,680,80,160,60,170,130,80,6,True,220,300
Volcanion,721,Fire,Water,600,80,110,120,130,90,70,6,True,230,220

## Metodo 2.
### Usiamo "del".

In [28]:
# Rimuovere la colonna "Atk+Def" precedentemente creata
del df["Atk+Def"]
df

,#,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,SpAtk+SpDef
Name,,,,,,,,,,,,,
Bulbasaur,1,Grass,Poison,318,45,49,49,65,65,45,1,False,130
Ivysaur,2,Grass,Poison,405,60,62,63,80,80,60,1,False,160
Venusaur,3,Grass,Poison,525,80,82,83,100,100,80,1,False,200
VenusaurMega Venusaur,3,Grass,Poison,625,80,100,123,122,120,80,1,False,242
Charmander,4,Fire,NaN,309,39,52,43,60,50,65,1,False,110
...,...,...,...,...,...,...,...,...,...,...,...,...,...
Diancie,719,Rock,Fairy,600,50,100,150,100,150,50,6,True,250
DiancieMega Diancie,719,Rock,Fairy,700,50,160,110,160,110,110,6,True,270
HoopaHoopa Confined,720,Psychic,Ghost,600,80,110,60,150,130,70,6,True,280
HoopaHoopa Unbound,720,Psychic,Dark,680,80,160,60,170,130,80,6,True,300
Volcanion,721,Fire,Water,600,80,110,120,130,90,70,6,True,220

## Metodo 3.
###  Usiamo "pop", che restituisce la colonna rimossa, così da poterci poi lavorare.

In [29]:
# Rimuovere la colonna "SpAtk+SpDef"
colonna = df.pop("SpAtk+SpDef")
df

,#,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Name,,,,,,,,,,,,
Bulbasaur,1,Grass,Poison,318,45,49,49,65,65,45,1,False
Ivysaur,2,Grass,Poison,405,60,62,63,80,80,60,1,False
Venusaur,3,Grass,Poison,525,80,82,83,100,100,80,1,False
VenusaurMega Venusaur,3,Grass,Poison,625,80,100,123,122,120,80,1,False
Charmander,4,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
Diancie,719,Rock,Fairy,600,50,100,150,100,150,50,6,True
DiancieMega Diancie,719,Rock,Fairy,700,50,160,110,160,110,110,6,True
HoopaHoopa Confined,720,Psychic,Ghost,600,80,110,60,150,130,70,6,True
HoopaHoopa Unbound,720,Psychic,Dark,680,80,160,60,170,130,80,6,True
Volcanion,721,Fire,Water,600,80,110,120,130,90,70,6,True

In [30]:
colonna

Name
Bulbasaur                130
Ivysaur                  160
Venusaur                 200
VenusaurMega Venusaur    242
Charmander               110
                        ...
Diancie                  250
DiancieMega Diancie      270
HoopaHoopa Confined      280
HoopaHoopa Unbound       300
Volcanion                220
Name: SpAtk+SpDef, Length: 800, dtype: int64

# 8. Cambiare posizione delle colonne in un df

## Metodo 1.
### Spostiamo le colonne usando "loc", scrivendole nell'ordine da noi desiderato.

In [31]:
# Invertire le colonne "Type 1" e "Type 2"
pokemon_df = df.loc[:, ["#", "Type 2", "Type 1", "Total", "HP", "Attack", "Defense", "Sp. Atk", "Sp. Def", "Speed", "Generation", "Legendary"]]
pokemon_df

,#,Type 2,Type 1,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Name,,,,,,,,,,,,
Bulbasaur,1,Poison,Grass,318,45,49,49,65,65,45,1,False
Ivysaur,2,Poison,Grass,405,60,62,63,80,80,60,1,False
Venusaur,3,Poison,Grass,525,80,82,83,100,100,80,1,False
VenusaurMega Venusaur,3,Poison,Grass,625,80,100,123,122,120,80,1,False
Charmander,4,NaN,Fire,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
Diancie,719,Fairy,Rock,600,50,100,150,100,150,50,6,True
DiancieMega Diancie,719,Fairy,Rock,700,50,160,110,160,110,110,6,True
HoopaHoopa Confined,720,Ghost,Psychic,600,80,110,60,150,130,70,6,True
HoopaHoopa Unbound,720,Dark,Psychic,680,80,160,60,170,130,80,6,True
Volcanion,721,Water,Fire,600,80,110,120,130,90,70,6,True

## Metodo 2.
### Capovolgiamo completamente le colonne così che la prima diventi ultima, la seconda penultima ecc.

In [32]:
columns = list(df.columns)
columns.reverse()
df[columns]

,Legendary,Generation,Speed,Sp. Def,Sp. Atk,Defense,Attack,HP,Total,Type 2,Type 1,#
Name,,,,,,,,,,,,
Bulbasaur,False,1,45,65,65,49,49,45,318,Poison,Grass,1
Ivysaur,False,1,60,80,80,63,62,60,405,Poison,Grass,2
Venusaur,False,1,80,100,100,83,82,80,525,Poison,Grass,3
VenusaurMega Venusaur,False,1,80,120,122,123,100,80,625,Poison,Grass,3
Charmander,False,1,65,50,60,43,52,39,309,NaN,Fire,4
...,...,...,...,...,...,...,...,...,...,...,...,...
Diancie,True,6,50,150,100,150,100,50,600,Fairy,Rock,719
DiancieMega Diancie,True,6,110,110,160,110,160,50,700,Fairy,Rock,719
HoopaHoopa Confined,True,6,70,130,150,60,110,80,600,Ghost,Psychic,720
HoopaHoopa Unbound,True,6,80,130,170,60,160,80,680,Dark,Psychic,720
Volcanion,True,6,70,90,130,120,110,80,600,Water,Fire,721

# 9. Rinominare una colonna in un df

In [33]:
# Modifichiamo il nome della colonna "Legendary" in "Legendario"
df = df.rename(columns={'Legendary': 'Legendario'})
df

,#,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendario
Name,,,,,,,,,,,,
Bulbasaur,1,Grass,Poison,318,45,49,49,65,65,45,1,False
Ivysaur,2,Grass,Poison,405,60,62,63,80,80,60,1,False
Venusaur,3,Grass,Poison,525,80,82,83,100,100,80,1,False
VenusaurMega Venusaur,3,Grass,Poison,625,80,100,123,122,120,80,1,False
Charmander,4,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
Diancie,719,Rock,Fairy,600,50,100,150,100,150,50,6,True
DiancieMega Diancie,719,Rock,Fairy,700,50,160,110,160,110,110,6,True
HoopaHoopa Confined,720,Psychic,Ghost,600,80,110,60,150,130,70,6,True
HoopaHoopa Unbound,720,Psychic,Dark,680,80,160,60,170,130,80,6,True
Volcanion,721,Fire,Water,600,80,110,120,130,90,70,6,True

# 10. Aggiungere una riga ad un df

In [34]:
# Creare un nuovo pokemon chiamato "AAA" con caratteristiche a piacere
new_pokemon = {"#": 999, "Type 1": "XXX", "Type 2": "YYY", "Total": 0}
df.loc["AAA"] = new_pokemon
df

,#,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendario
Name,,,,,,,,,,,,
Bulbasaur,1,Grass,Poison,318,45.0,49.0,49.0,65.0,65.0,45.0,1.0,0.0
Ivysaur,2,Grass,Poison,405,60.0,62.0,63.0,80.0,80.0,60.0,1.0,0.0
Venusaur,3,Grass,Poison,525,80.0,82.0,83.0,100.0,100.0,80.0,1.0,0.0
VenusaurMega Venusaur,3,Grass,Poison,625,80.0,100.0,123.0,122.0,120.0,80.0,1.0,0.0
Charmander,4,Fire,NaN,309,39.0,52.0,43.0,60.0,50.0,65.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
DiancieMega Diancie,719,Rock,Fairy,700,50.0,160.0,110.0,160.0,110.0,110.0,6.0,1.0
HoopaHoopa Confined,720,Psychic,Ghost,600,80.0,110.0,60.0,150.0,130.0,70.0,6.0,1.0
HoopaHoopa Unbound,720,Psychic,Dark,680,80.0,160.0,60.0,170.0,130.0,80.0,6.0,1.0
Volcanion,721,Fire,Water,600,80.0,110.0,120.0,130.0,90.0,70.0,6.0,1.0
AAA,999,XXX,YYY,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# 11. Cancellare una riga da un df

In [35]:
# Cancellare il pokemon appena creato ("AAA")
df.drop("AAA")

,#,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendario
Name,,,,,,,,,,,,
Bulbasaur,1,Grass,Poison,318,45.0,49.0,49.0,65.0,65.0,45.0,1.0,0.0
Ivysaur,2,Grass,Poison,405,60.0,62.0,63.0,80.0,80.0,60.0,1.0,0.0
Venusaur,3,Grass,Poison,525,80.0,82.0,83.0,100.0,100.0,80.0,1.0,0.0
VenusaurMega Venusaur,3,Grass,Poison,625,80.0,100.0,123.0,122.0,120.0,80.0,1.0,0.0
Charmander,4,Fire,NaN,309,39.0,52.0,43.0,60.0,50.0,65.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
Diancie,719,Rock,Fairy,600,50.0,100.0,150.0,100.0,150.0,50.0,6.0,1.0
DiancieMega Diancie,719,Rock,Fairy,700,50.0,160.0,110.0,160.0,110.0,110.0,6.0,1.0
HoopaHoopa Confined,720,Psychic,Ghost,600,80.0,110.0,60.0,150.0,130.0,70.0,6.0,1.0
HoopaHoopa Unbound,720,Psychic,Dark,680,80.0,160.0,60.0,170.0,130.0,80.0,6.0,1.0
Volcanion,721,Fire,Water,600,80.0,110.0,120.0,130.0,90.0,70.0,6.0,1.0

# 12. Modificare una o più righe di un df

In [36]:
# Modificare il "Type 2" di Charmander mettendolo uguale a "Dragon"
df.loc[df.index=="Charmander", "Type 2"] = "Dragon"
df

,#,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendario
Name,,,,,,,,,,,,
Bulbasaur,1,Grass,Poison,318,45.0,49.0,49.0,65.0,65.0,45.0,1.0,0.0
Ivysaur,2,Grass,Poison,405,60.0,62.0,63.0,80.0,80.0,60.0,1.0,0.0
Venusaur,3,Grass,Poison,525,80.0,82.0,83.0,100.0,100.0,80.0,1.0,0.0
VenusaurMega Venusaur,3,Grass,Poison,625,80.0,100.0,123.0,122.0,120.0,80.0,1.0,0.0
Charmander,4,Fire,Dragon,309,39.0,52.0,43.0,60.0,50.0,65.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
DiancieMega Diancie,719,Rock,Fairy,700,50.0,160.0,110.0,160.0,110.0,110.0,6.0,1.0
HoopaHoopa Confined,720,Psychic,Ghost,600,80.0,110.0,60.0,150.0,130.0,70.0,6.0,1.0
HoopaHoopa Unbound,720,Psychic,Dark,680,80.0,160.0,60.0,170.0,130.0,80.0,6.0,1.0
Volcanion,721,Fire,Water,600,80.0,110.0,120.0,130.0,90.0,70.0,6.0,1.0
AAA,999,XXX,YYY,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [38]:
# Modificare il "Type 1" di Charmander ponendolo uguale a "XXX" ed il "Type 2" ponendolo uguale a "YYY"
df.loc[df.index=="Charmander", ["Type 1", "Type 2"]] = ["XXX", "YYY"]
df

,#,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendario
Name,,,,,,,,,,,,
Bulbasaur,1,SuperGrass,Poison,318,45.0,49.0,49.0,65.0,65.0,45.0,1.0,0.0
Ivysaur,2,SuperGrass,Poison,405,60.0,62.0,63.0,80.0,80.0,60.0,1.0,0.0
Venusaur,3,SuperGrass,Poison,525,80.0,82.0,83.0,100.0,100.0,80.0,1.0,0.0
VenusaurMega Venusaur,3,SuperGrass,Poison,625,80.0,100.0,123.0,122.0,120.0,80.0,1.0,0.0
Charmander,4,XXX,YYY,309,39.0,52.0,43.0,60.0,50.0,65.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
DiancieMega Diancie,719,Rock,Fairy,700,50.0,160.0,110.0,160.0,110.0,110.0,6.0,1.0
HoopaHoopa Confined,720,Psychic,Ghost,600,80.0,110.0,60.0,150.0,130.0,70.0,6.0,1.0
HoopaHoopa Unbound,720,Psychic,Dark,680,80.0,160.0,60.0,170.0,130.0,80.0,6.0,1.0
Volcanion,721,Fire,Water,600,80.0,110.0,120.0,130.0,90.0,70.0,6.0,1.0
AAA,999,XXX,YYY,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [37]:
# Modificare il "Type 1" Grass in SuperGrass (per tutti i pokemon di Type 1 = Grass)
df.loc[df["Type 1"]=="Grass", "Type 1"] = "SuperGrass"
df

,#,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendario
Name,,,,,,,,,,,,
Bulbasaur,1,SuperGrass,Poison,318,45.0,49.0,49.0,65.0,65.0,45.0,1.0,0.0
Ivysaur,2,SuperGrass,Poison,405,60.0,62.0,63.0,80.0,80.0,60.0,1.0,0.0
Venusaur,3,SuperGrass,Poison,525,80.0,82.0,83.0,100.0,100.0,80.0,1.0,0.0
VenusaurMega Venusaur,3,SuperGrass,Poison,625,80.0,100.0,123.0,122.0,120.0,80.0,1.0,0.0
Charmander,4,Fire,Dragon,309,39.0,52.0,43.0,60.0,50.0,65.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
DiancieMega Diancie,719,Rock,Fairy,700,50.0,160.0,110.0,160.0,110.0,110.0,6.0,1.0
HoopaHoopa Confined,720,Psychic,Ghost,600,80.0,110.0,60.0,150.0,130.0,70.0,6.0,1.0
HoopaHoopa Unbound,720,Psychic,Dark,680,80.0,160.0,60.0,170.0,130.0,80.0,6.0,1.0
Volcanion,721,Fire,Water,600,80.0,110.0,120.0,130.0,90.0,70.0,6.0,1.0
AAA,999,XXX,YYY,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# 13. Filtrare i dati

### Segue una serie di esempi.

In [39]:
# Selezionare solo i pokemon di tipo "Water"
df[df["Type 1"] == "Water"]

,#,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendario
Name,,,,,,,,,,,,
Squirtle,7,Water,NaN,314,44.0,48.0,65.0,50.0,64.0,43.0,1.0,0.0
Wartortle,8,Water,NaN,405,59.0,63.0,80.0,65.0,80.0,58.0,1.0,0.0
Blastoise,9,Water,NaN,530,79.0,83.0,100.0,85.0,105.0,78.0,1.0,0.0
BlastoiseMega Blastoise,9,Water,NaN,630,79.0,103.0,120.0,135.0,115.0,78.0,1.0,0.0
Psyduck,54,Water,NaN,320,50.0,52.0,48.0,65.0,50.0,55.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
Froakie,656,Water,NaN,314,41.0,56.0,40.0,62.0,44.0,71.0,6.0,0.0
Frogadier,657,Water,NaN,405,54.0,63.0,52.0,83.0,56.0,97.0,6.0,0.0
Greninja,658,Water,Dark,530,72.0,95.0,67.0,103.0,71.0,122.0,6.0,0.0
Clauncher,692,Water,NaN,330,50.0,53.0,62.0,58.0,63.0,44.0,6.0,0.0
Clawitzer,693,Water,NaN,500,71.0,73.0,88.0,120.0,89.0,59.0,6.0,0.0

In [40]:
# Selezionare solo i pokemon "Total" superiore a 700
df[df["Total"] > 700]

,#,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendario
Name,,,,,,,,,,,,
MewtwoMega Mewtwo X,150,Psychic,Fighting,780,106.0,190.0,100.0,154.0,100.0,130.0,1.0,1.0
MewtwoMega Mewtwo Y,150,Psychic,NaN,780,106.0,150.0,70.0,194.0,120.0,140.0,1.0,1.0
KyogrePrimal Kyogre,382,Water,NaN,770,100.0,150.0,90.0,180.0,160.0,90.0,3.0,1.0
GroudonPrimal Groudon,383,Ground,Fire,770,100.0,180.0,160.0,150.0,90.0,90.0,3.0,1.0
RayquazaMega Rayquaza,384,Dragon,Flying,780,105.0,180.0,100.0,180.0,100.0,115.0,3.0,1.0
Arceus,493,Normal,NaN,720,120.0,120.0,120.0,120.0,120.0,120.0,4.0,1.0

In [41]:
# Selezionare solo i pokemon che hanno "Mega" nel nome
df[df.index.str.contains("Mega")]

,#,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendario
Name,,,,,,,,,,,,
VenusaurMega Venusaur,3,SuperGrass,Poison,625,80.0,100.0,123.0,122.0,120.0,80.0,1.0,0.0
CharizardMega Charizard X,6,Fire,Dragon,634,78.0,130.0,111.0,130.0,85.0,100.0,1.0,0.0
CharizardMega Charizard Y,6,Fire,Flying,634,78.0,104.0,78.0,159.0,115.0,100.0,1.0,0.0
BlastoiseMega Blastoise,9,Water,NaN,630,79.0,103.0,120.0,135.0,115.0,78.0,1.0,0.0
BeedrillMega Beedrill,15,Bug,Poison,495,65.0,150.0,40.0,15.0,80.0,145.0,1.0,0.0
PidgeotMega Pidgeot,18,Normal,Flying,579,83.0,80.0,80.0,135.0,80.0,121.0,1.0,0.0
AlakazamMega Alakazam,65,Psychic,NaN,590,55.0,50.0,65.0,175.0,95.0,150.0,1.0,0.0
SlowbroMega Slowbro,80,Water,Psychic,590,95.0,75.0,180.0,130.0,80.0,30.0,1.0,0.0
GengarMega Gengar,94,Ghost,Poison,600,60.0,65.0,80.0,170.0,95.0,130.0,1.0,0.0
KangaskhanMega Kangaskhan,115,Normal,NaN,590,105.0,125.0,100.0,60.0,100.0,100.0,1.0,0.0
PinsirMega Pinsir,127,Bug,Flying,600,65.0,155.0,120.0,65.0,90.0,105.0,1.0,0.0
GyaradosMega Gyarados,130,Water,Dark,640,95.0,155.0,109.0,70.0,130.0,81.0,1.0,0.0
AerodactylMega Aerodactyl,142,Rock,Flying,615,80.0,135.0,85.0,70.0,95.0,150.0,1.0,0.0
MewtwoMega Mewtwo X,150,Psychic,Fighting,780,106.0,190.0,100.0,154.0,100.0,130.0,1.0,1.0
MewtwoMega Mewtwo Y,150,Psychic,NaN,780,106.0,150.0,70.0,194.0,120.0,140.0,1.0,1.0
Meganium,154,SuperGrass,NaN,525,80.0,82.0,100.0,83.0,100.0,80.0,2.0,0.0
AmpharosMega Ampharos,181,Electric,Dragon,610,90.0,95.0,105.0,165.0,110.0,45.0,2.0,0.0
SteelixMega Steelix,208,Steel,Ground,610,75.0,125.0,230.0,55.0,95.0,30.0,2.0,0.0
ScizorMega Scizor,212,Bug,Steel,600,70.0,150.0,140.0,65.0,100.0,75.0,2.0,0.0
HeracrossMega Heracross,214,Bug,Fighting,600,80.0,185.0,115.0,40.0,105.0,75.0,2.0,0.0
HoundoomMega Houndoom,229,Dark,Fire,600,75.0,90.0,90.0,140.0,90.0,115.0,2.0,0.0
TyranitarMega Tyranitar,248,Rock,Dark,700,100.0,164.0,150.0,95.0,120.0,71.0,2.0,0.0
SceptileMega Sceptile,254,SuperGrass,Dragon,630,70.0,110.0,75.0,145.0,85.0,145.0,3.0,0.0
BlazikenMega Blaziken,257,Fire,Fighting,630,80.0,160.0,80.0,130.0,80.0,100.0,3.0,0.0
SwampertMega Swampert,260,Water,Ground,635,100.0,150.0,110.0,95.0,110.0,70.0,3.0,0.0
GardevoirMega Gardevoir,282,Psychic,Fairy,618,68.0,85.0,65.0,165.0,135.0,100.0,3.0,0.0
SableyeMega Sableye,302,Dark,Ghost,480,50.0,85.0,125.0,85.0,115.0,20.0,3.0,0.0
MawileMega Mawile,303,Steel,Fairy,480,50.0,105.0,125.0,55.0,95.0,50.0,3.0,0.0
AggronMega Aggron,306,Steel,NaN,630,70.0,140.0,230.0,60.0,80.0,50.0,3.0,0.0
MedichamMega Medicham,308,Fighting,Psychic,510,60.0,100.0,85.0,80.0,85.0,100.0,3.0,0.0
ManectricMega Manectric,310,Electric,NaN,575,70.0,75.0,80.0,135.0,80.0,135.0,3.0,0.0
SharpedoMega Sharpedo,319,Water,Dark,560,70.0,140.0,70.0,110.0,65.0,105.0,3.0,0.0
CameruptMega Camerupt,323,Fire,Ground,560,70.0,120.0,100.0,145.0,105.0,20.0,3.0,0.0
AltariaMega Altaria,334,Dragon,Fairy,590,75.0,110.0,110.0,110.0,105.0,80.0,3.0,0.0
BanetteMega Banette,354,Ghost,NaN,555,64.0,165.0,75.0,93.0,83.0,75.0,3.0,0.0
AbsolMega Absol,359,Dark,NaN,565,65.0,150.0,60.0,115.0,60.0,115.0,3.0,0.0
GlalieMega Glalie,362,Ice,NaN,580,80.0,120.0,80.0,120.0,80.0,100.0,3.0,0.0
SalamenceMega Salamence,373,Dragon,Flying,700,95.0,145.0,130.0,120.0,90.0,120.0,3.0,0.0
MetagrossMega Metagross,376,Steel,Psychic,700,80.0,145.0,150.0,105.0,110.0,110.0,3.0,0.0
LatiasMega Latias,380,Dragon,Psychic,700,80.0,100.0,120.0,140.0,150.0,110.0,3.0,1.0
LatiosMega Latios,381,Dragon,Psychic,700,80.0,130.0,100.0,160.0,120.0,110.0,3.0,1.0
RayquazaMega Rayquaza,384,Dragon,Flying,780,105.0,180.0,100.0,180.0,100.0,115.0,3.0,1.0
LopunnyMega Lopunny,428,Normal,Fighting,580,65.0,136.0,94.0,54.0,96.0,135.0,4.0,0.0
GarchompMega Garchomp,445,Dragon,Ground,700,108.0,170.0,115.0,120.0,95.0,92.0,4.0,0.0
LucarioMega Lucario,448,Fighting,Steel,625,70.0,145.0,88.0,140.0,70.0,112.0,4.0,0.0
AbomasnowMega Abomasnow,460,SuperGrass,Ice,594,90.0,132.0,105.0,132.0,105.0,30.0,4.0,0.0
GalladeMega Gallade,475,Psychic,Fighting,618,68.0,165.0,95.0,65.0,115.0,110.0,4.0,0.0
AudinoMega Audino,531,Normal,Fairy,545,103.0,60.0,126.0,80.0,126.0,50.0,5.0,0.0
DiancieMega Diancie,719,Rock,Fairy,700,50.0,160.0,110.0,160.0,110.0,110.0,6.0,1.0

### NB: Utilizziamo "df.index" poiché "Name" è indice del df. Se non lo fosse stato, bisognava scrivere "df["Name"]" invece di "df.index".

In [42]:
# Selezionare solo i pokemon il cui nome appartiene ad una lista di nomi scelti da noi
nomi = ["Slowbro", "Gengar", "Beedrill"]
df[df.index.isin(nomi)]

,#,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendario
Name,,,,,,,,,,,,
Beedrill,15,Bug,Poison,395,65.0,90.0,40.0,45.0,80.0,75.0,1.0,0.0
Slowbro,80,Water,Psychic,490,95.0,75.0,110.0,100.0,80.0,30.0,1.0,0.0
Gengar,94,Ghost,Poison,500,60.0,65.0,60.0,130.0,75.0,110.0,1.0,0.0

In [43]:
# Selezionare solo i pokemon di tipo "Water" con statistica "Total" > 600
df[(df["Type 1"] == "Water") & (df["Total"] > 600)]

,#,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendario
Name,,,,,,,,,,,,
BlastoiseMega Blastoise,9,Water,NaN,630,79.0,103.0,120.0,135.0,115.0,78.0,1.0,0.0
GyaradosMega Gyarados,130,Water,Dark,640,95.0,155.0,109.0,70.0,130.0,81.0,1.0,0.0
SwampertMega Swampert,260,Water,Ground,635,100.0,150.0,110.0,95.0,110.0,70.0,3.0,0.0
Kyogre,382,Water,NaN,670,100.0,100.0,90.0,150.0,140.0,90.0,3.0,1.0
KyogrePrimal Kyogre,382,Water,NaN,770,100.0,150.0,90.0,180.0,160.0,90.0,3.0,1.0
Palkia,484,Water,Dragon,680,90.0,120.0,100.0,150.0,120.0,100.0,4.0,1.0

In [44]:
# Selezionare solo i pokemon di tipo "Dragon" o con statistica "Total" > 750
df[(df["Type 1"] == "Dragon") | (df["Total"] > 750)]

,#,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendario
Name,,,,,,,,,,,,
Dratini,147,Dragon,NaN,300,41.0,64.0,45.0,50.0,50.0,50.0,1.0,0.0
Dragonair,148,Dragon,NaN,420,61.0,84.0,65.0,70.0,70.0,70.0,1.0,0.0
Dragonite,149,Dragon,Flying,600,91.0,134.0,95.0,100.0,100.0,80.0,1.0,0.0
MewtwoMega Mewtwo X,150,Psychic,Fighting,780,106.0,190.0,100.0,154.0,100.0,130.0,1.0,1.0
MewtwoMega Mewtwo Y,150,Psychic,NaN,780,106.0,150.0,70.0,194.0,120.0,140.0,1.0,1.0
Altaria,334,Dragon,Flying,490,75.0,70.0,90.0,70.0,105.0,80.0,3.0,0.0
AltariaMega Altaria,334,Dragon,Fairy,590,75.0,110.0,110.0,110.0,105.0,80.0,3.0,0.0
Bagon,371,Dragon,NaN,300,45.0,75.0,60.0,40.0,30.0,50.0,3.0,0.0
Shelgon,372,Dragon,NaN,420,65.0,95.0,100.0,60.0,50.0,50.0,3.0,0.0
Salamence,373,Dragon,Flying,600,95.0,135.0,80.0,110.0,80.0,100.0,3.0,0.0
SalamenceMega Salamence,373,Dragon,Flying,700,95.0,145.0,130.0,120.0,90.0,120.0,3.0,0.0
Latias,380,Dragon,Psychic,600,80.0,80.0,90.0,110.0,130.0,110.0,3.0,1.0
LatiasMega Latias,380,Dragon,Psychic,700,80.0,100.0,120.0,140.0,150.0,110.0,3.0,1.0
Latios,381,Dragon,Psychic,600,80.0,90.0,80.0,130.0,110.0,110.0,3.0,1.0
LatiosMega Latios,381,Dragon,Psychic,700,80.0,130.0,100.0,160.0,120.0,110.0,3.0,1.0
KyogrePrimal Kyogre,382,Water,NaN,770,100.0,150.0,90.0,180.0,160.0,90.0,3.0,1.0
GroudonPrimal Groudon,383,Ground,Fire,770,100.0,180.0,160.0,150.0,90.0,90.0,3.0,1.0
Rayquaza,384,Dragon,Flying,680,105.0,150.0,90.0,150.0,90.0,95.0,3.0,1.0
RayquazaMega Rayquaza,384,Dragon,Flying,780,105.0,180.0,100.0,180.0,100.0,115.0,3.0,1.0
Gible,443,Dragon,Ground,300,58.0,70.0,45.0,40.0,45.0,42.0,4.0,0.0
Gabite,444,Dragon,Ground,410,68.0,90.0,65.0,50.0,55.0,82.0,4.0,0.0
Garchomp,445,Dragon,Ground,600,108.0,130.0,95.0,80.0,85.0,102.0,4.0,0.0
GarchompMega Garchomp,445,Dragon,Ground,700,108.0,170.0,115.0,120.0,95.0,92.0,4.0,0.0
Axew,610,Dragon,NaN,320,46.0,87.0,60.0,30.0,40.0,57.0,5.0,0.0
Fraxure,611,Dragon,NaN,410,66.0,117.0,70.0,40.0,50.0,67.0,5.0,0.0
Haxorus,612,Dragon,NaN,540,76.0,147.0,90.0,60.0,70.0,97.0,5.0,0.0
Druddigon,621,Dragon,NaN,485,77.0,120.0,90.0,60.0,90.0,48.0,5.0,0.0
Reshiram,643,Dragon,Fire,680,100.0,120.0,100.0,150.0,120.0,90.0,5.0,1.0
Zekrom,644,Dragon,Electric,680,100.0,150.0,120.0,120.0,100.0,90.0,5.0,1.0
Kyurem,646,Dragon,Ice,660,125.0,130.0,90.0,130.0,90.0,95.0,5.0,1.0
KyuremBlack Kyurem,646,Dragon,Ice,700,125.0,170.0,100.0,120.0,90.0,95.0,5.0,1.0
KyuremWhite Kyurem,646,Dragon,Ice,700,125.0,120.0,90.0,170.0,100.0,95.0,5.0,1.0
Goomy,704,Dragon,NaN,300,45.0,50.0,35.0,55.0,75.0,40.0,6.0,0.0
Sliggoo,705,Dragon,NaN,452,68.0,75.0,53.0,83.0,113.0,60.0,6.0,0.0
Goodra,706,Dragon,NaN,600,90.0,100.0,70.0,110.0,150.0,80.0,6.0,0.0
Zygarde50% Forme,718,Dragon,Ground,600,108.0,100.0,121.0,81.0,95.0,95.0,6.0,1.0

### Tutti gli approcci visti fin qui possono essere utilizzati anche con "loc".
### In aggiunta, loc ci permette di specificare quali colonne ci interessa selezionare e quali no.

In [45]:
df.loc[(df["Total"]>750), ["Type 1", "Type 2", "Total"]]

                        Type 1    Type 2  Total
Name
MewtwoMega Mewtwo X    Psychic  Fighting    780
MewtwoMega Mewtwo Y    Psychic       NaN    780
KyogrePrimal Kyogre      Water       NaN    770
GroudonPrimal Groudon   Ground      Fire    770
RayquazaMega Rayquaza   Dragon    Flying    780

# 14. Individuare massimi di colonna, minimi di colonna e righe contenenti massimi/minimi di colonna

In [46]:
# Trovare l'"Attack" massimo tra tutti i pokemon
print(df["Attack"].max())

190.0

In [47]:
# Trovare il pokemon che ha "Attack" massimo tra tutti i pokemon
idx_max_atk = df["Attack"].idxmax()
print(df.loc[idx_max_atk])

#                  150
Type 1         Psychic
Type 2        Fighting
Total              780
HP               106.0
Attack           190.0
Defense          100.0
Sp. Atk          154.0
Sp. Def          100.0
Speed            130.0
Generation         1.0
Legendario         1.0
Name: MewtwoMega Mewtwo X, dtype: object

In [48]:
# Trovare la difesa minima tra tutti i pokemon
print(df["Defense"].min())

5.0

In [49]:
# Trovare il pokemon che ha difesa minima tra tutti i pokemon
idx_min_def = df["Attack"].idxmin()
print(df.loc[idx_min_def])

#                113
Type 1        Normal
Type 2           NaN
Total            450
HP             250.0
Attack           5.0
Defense          5.0
Sp. Atk         35.0
Sp. Def        105.0
Speed           50.0
Generation       1.0
Legendario       0.0
Name: Chansey, dtype: object

# 15. Raggruppare le righe di un df (group by, sum, mean, min, max, count)

### Raggruppare per riga è utile per rispondere a domande come:
* ### Quali sono tutti i possibili tipi di pokemon?
* ### Quanti pokemon di tipo fuoco esistono?
* ### Qual è l'attacco medio dei pokemon di tipo drago?

In [50]:
# Reimpostare df
df = pd.read_csv("/kaggle/input/dataset-per-pandas/pokemon.csv", index_col = "Name") # NB: Name funge da index
df

,#,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Name,,,,,,,,,,,,
Bulbasaur,1,Grass,Poison,318,45,49,49,65,65,45,1,False
Ivysaur,2,Grass,Poison,405,60,62,63,80,80,60,1,False
Venusaur,3,Grass,Poison,525,80,82,83,100,100,80,1,False
VenusaurMega Venusaur,3,Grass,Poison,625,80,100,123,122,120,80,1,False
Charmander,4,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
Diancie,719,Rock,Fairy,600,50,100,150,100,150,50,6,True
DiancieMega Diancie,719,Rock,Fairy,700,50,160,110,160,110,110,6,True
HoopaHoopa Confined,720,Psychic,Ghost,600,80,110,60,150,130,70,6,True
HoopaHoopa Unbound,720,Psychic,Dark,680,80,160,60,170,130,80,6,True
Volcanion,721,Fire,Water,600,80,110,120,130,90,70,6,True

In [51]:
# Raggruppare per singola colonna (Type 1) (Quali sono i tipi di pokemon esistenti?)

types = df.groupby("Type 1")

for name, group in types:
    print(name)

Bug
Dark
Dragon
Electric
Fairy
Fighting
Fire
Flying
Ghost
Grass
Ground
Ice
Normal
Poison
Psychic
Rock
Steel
Water

### "groups" mi restituirebbe la lista di tutti i pokemon appartenenti a ciascun gruppo. 
### ES: Bug: [... Lista di pokemon tipo bug ...], Dark: [... Lista di pokemon tipo dark ...] ecc.

In [52]:
# Raggruppare per multiple colonne (Type 1 e Type 2) (Quali sono le accoppiate di tipi di pokemon esistenti?)

types = df.groupby(["Type 1", "Type 2"])

for name, group in types:
    print(name)

('Bug', 'Electric')
('Bug', 'Fighting')
('Bug', 'Fire')
('Bug', 'Flying')
('Bug', 'Ghost')
('Bug', 'Grass')
('Bug', 'Ground')
('Bug', 'Poison')
('Bug', 'Rock')
('Bug', 'Steel')
('Bug', 'Water')
('Dark', 'Dragon')
('Dark', 'Fighting')
('Dark', 'Fire')
('Dark', 'Flying')
('Dark', 'Ghost')
('Dark', 'Ice')
('Dark', 'Psychic')
('Dark', 'Steel')
('Dragon', 'Electric')
('Dragon', 'Fairy')
('Dragon', 'Fire')
('Dragon', 'Flying')
('Dragon', 'Ground')
('Dragon', 'Ice')
('Dragon', 'Psychic')
('Electric', 'Dragon')
('Electric', 'Fairy')
('Electric', 'Fire')
('Electric', 'Flying')
('Electric', 'Ghost')
('Electric', 'Grass')
('Electric', 'Ice')
('Electric', 'Normal')
('Electric', 'Steel')
('Electric', 'Water')
('Fairy', 'Flying')
('Fighting', 'Dark')
('Fighting', 'Flying')
('Fighting', 'Psychic')
('Fighting', 'Steel')
('Fire', 'Dragon')
('Fire', 'Fighting')
('Fire', 'Flying')
('Fire', 'Ground')
('Fire', 'Normal')
('Fire', 'Psychic')
('Fire', 'Rock')
('Fire', 'Steel')
('Fire', 'Water')
('Flying', 'Dragon')
('Ghost', 'Dark')
('Ghost', 'Dragon')
('Ghost', 'Fire')
('Ghost', 'Flying')
('Ghost', 'Grass')
('Ghost', 'Poison')
('Grass', 'Dark')
('Grass', 'Dragon')
('Grass', 'Fairy')
('Grass', 'Fighting')
('Grass', 'Flying')
('Grass', 'Ground')
('Grass', 'Ice')
('Grass', 'Poison')
('Grass', 'Psychic')
('Grass', 'Steel')
('Ground', 'Dark')
('Ground', 'Dragon')
('Ground', 'Electric')
('Ground', 'Fire')
('Ground', 'Flying')
('Ground', 'Ghost')
('Ground', 'Psychic')
('Ground', 'Rock')
('Ground', 'Steel')
('Ice', 'Flying')
('Ice', 'Ghost')
('Ice', 'Ground')
('Ice', 'Psychic')
('Ice', 'Water')
('Normal', 'Fairy')
('Normal', 'Fighting')
('Normal', 'Flying')
('Normal', 'Grass')
('Normal', 'Ground')
('Normal', 'Psychic')
('Normal', 'Water')
('Poison', 'Bug')
('Poison', 'Dark')
('Poison', 'Dragon')
('Poison', 'Fighting')
('Poison', 'Flying')
('Poison', 'Ground')
('Poison', 'Water')
('Psychic', 'Dark')
('Psychic', 'Fairy')
('Psychic', 'Fighting')
('Psychic', 'Fire')
('Psychic', 'Flying')
('Psychic', 'Ghost')
('Psychic', 'Grass')
('Rock', 'Bug')
('Rock', 'Dark')
('Rock', 'Dragon')
('Rock', 'Fairy')
('Rock', 'Fighting')
('Rock', 'Flying')
('Rock', 'Grass')
('Rock', 'Ground')
('Rock', 'Ice')
('Rock', 'Psychic')
('Rock', 'Steel')
('Rock', 'Water')
('Steel', 'Dragon')
('Steel', 'Fairy')
('Steel', 'Fighting')
('Steel', 'Flying')
('Steel', 'Ghost')
('Steel', 'Ground')
('Steel', 'Psychic')
('Steel', 'Rock')
('Water', 'Dark')
('Water', 'Dragon')
('Water', 'Electric')
('Water', 'Fairy')
('Water', 'Fighting')
('Water', 'Flying')
('Water', 'Ghost')
('Water', 'Grass')
('Water', 'Ground')
('Water', 'Ice')
('Water', 'Poison')
('Water', 'Psychic')
('Water', 'Rock')
('Water', 'Steel')

### Segue una serie di esempi.

In [53]:
# Per ciascun tipo di pokemon, conta quanti pokemon esistono (raggruppa su Type 1)

count_types = df.groupby("Type 1").count()["#"]
count_types

Type 1
Bug          69
Dark         31
Dragon       32
Electric     44
Fairy        17
Fighting     27
Fire         52
Flying        4
Ghost        32
Grass        70
Ground       32
Ice          24
Normal       98
Poison       28
Psychic      57
Rock         44
Steel        27
Water       112
Name: #, dtype: int64

In [54]:
# Per ciascun tipo di pokemon, calcolare la media delle statistiche "Total", "HP", "Attack", "Defense" (raggruppa su Type 1)

mean_stats = df.groupby("Type 1").mean()[["Total", "HP", "Attack", "Defense"]]
mean_stats

               Total         HP      Attack     Defense
Type 1
Bug       378.927536  56.884058   70.971014   70.724638
Dark      445.741935  66.806452   88.387097   70.225806
Dragon    550.531250  83.312500  112.125000   86.375000
Electric  443.409091  59.795455   69.090909   66.295455
Fairy     413.176471  74.117647   61.529412   65.705882
Fighting  416.444444  69.851852   96.777778   65.925926
Fire      458.076923  69.903846   84.769231   67.769231
Flying    485.000000  70.750000   78.750000   66.250000
Ghost     439.562500  64.437500   73.781250   81.187500
Grass     421.142857  67.271429   73.214286   70.800000
Ground    437.500000  73.781250   95.750000   84.843750
Ice       433.458333  72.000000   72.750000   71.416667
Normal    401.683673  77.275510   73.469388   59.846939
Poison    399.142857  67.250000   74.678571   68.821429
Psychic   475.947368  70.631579   71.456140   67.684211
Rock      453.750000  65.363636   92.863636  100.795455
Steel     487.703704  65.222222   92.703704  126.370370
Water     430.455357  72.062500   74.151786   72.946429

In [55]:
# Per ciascun tipo di pokemon, calcolare la media delle statistiche "Total", "HP" (raggruppa su Type 1) e ordinare per "Total"

mean_stats = df.groupby("Type 1").mean()[["Total", "HP"]].sort_values(by = "Total", ascending = False)
mean_stats

               Total         HP
Type 1
Dragon    550.531250  83.312500
Steel     487.703704  65.222222
Flying    485.000000  70.750000
Psychic   475.947368  70.631579
Fire      458.076923  69.903846
Rock      453.750000  65.363636
Dark      445.741935  66.806452
Electric  443.409091  59.795455
Ghost     439.562500  64.437500
Ground    437.500000  73.781250
Ice       433.458333  72.000000
Water     430.455357  72.062500
Grass     421.142857  67.271429
Fighting  416.444444  69.851852
Fairy     413.176471  74.117647
Normal    401.683673  77.275510
Poison    399.142857  67.250000
Bug       378.927536  56.884058

In [56]:
# Per ciascun tipo di pokemon, calcolare il massimo delle statistiche "Total", "HP", "Attack", "Defense" (raggruppa su Type 1)

max_stats = df.groupby("Type 1").agg({"Total": "max", "HP": "max", "Attack": "max", "Defense": "max"})
max_stats

          Total   HP  Attack  Defense
Type 1
Bug         600   86     185      230
Dark        680  126     150      125
Dragon      780  125     180      130
Electric    610   90     123      115
Fairy       680  126     131       95
Fighting    625  144     145       95
Fire        680  115     160      140
Flying      580   85     115       80
Ghost       680  150     165      145
Grass       630  123     132      131
Ground      770  115     180      160
Ice         580  110     130      184
Normal      720  255     160      126
Poison      535  105     106      120
Psychic     780  190     190      160
Rock        700  123     165      200
Steel       700  100     150      230
Water       770  170     155      180

In [57]:
# Per ciascun tipo di pokemon, calcolare il minimo delle statistiche "Total", "HP", "Attack", "Defense" (raggruppa su Type 1)

min_stats = df.groupby("Type 1").agg({"Total": "min", "HP": "min", "Attack": "min", "Defense": "min"})
min_stats

          Total  HP  Attack  Defense
Type 1
Bug         194   1      10       30
Dark        220  35      50       30
Dragon      300  41      50       35
Electric    205  20      30       15
Fairy       218  35      20       28
Fighting    210  30      35       30
Fire        250  38      30       37
Flying      245  40      30       35
Ghost       275  20      30       30
Grass       180  30      27       30
Ground      265  10      40       25
Ice         250  36      30       15
Normal      190  30       5        5
Poison      245  35      43       35
Psychic     198  20      20       15
Rock        280  30      40       40
Steel       300  40      24       50
Water       200  20      10       20

### Per min e max esistono versioni alternative ormai deprecate:
### max_stats = df.groupby("Type 1").max()[["Total", "HP", "Attack", "Defense"]]
### min_stats = df.groupby("Type 1").min())[["Total", "HP", "Attack", "Defense"]]

# 16. Pulire un df

### Per pulire un dataset, ci sono diverse cose da fare:
* ### Cosa facciamo coi NaN? Eliminiamo le righe che li contengono? Li imputiamo?
* ### Controllare il tipo dei dati nelle colonne. ES: la colonna "Data" contiene solo formati data?
* ### Gestire valori non plausibili. ES: età negative.

### Da qui in avanti lavoreremo con un dataset di esempio contenente dati inventati a tema "atleti". Questo ci consentirà di lavorare con dei NaN e via dicendo.

In [58]:
# Impostare la colonna "ID" come index
df = pd.read_csv("/kaggle/input/dataset-per-pandas/Atleti.csv", index_col = "ID", sep = ";")
df

        Nome    Cognome   Età Altezza  Peso  Sport
ID
1    Alessio   Azzalini  22.0    1,88    55    1.0
2     Biagio   Bergotti  24.0    1,85    56    1.0
3      Carlo     Cucini   NaN    1,84    68    1.0
4      Dario     Denisi  31.0    1,75    75    2.0
5    Edoardo    Esterni  25.0    1,77    64    2.0
6   Federico   Francini  30.0     NaN    77    3.0
7    Giorgio  Guglielmi  27.0    1,69    83    3.0
8     Iginio    Inniver  19.0    1,71    81    3.0
9       Luca      Lombi  18.0    1,75    73    4.0
10    Matteo      Misti  19.0    1,81    54    4.0
11    Nicola      Netti  23.0     1,9   -81    4.0
12   Osvaldo     Ostuni  22.0    1,55    90    4.0
13     Paolo   Pescheri  28.0    2,01    82    5.0
14  Raffaele    Rustici  34.0     2,1    78    5.0
15   Stefano    Soncini  39.0    1,95    77    NaN

### 1) Rimuovere le righe che contengono NaN values

In [59]:
clean_df = df.dropna()
clean_df

        Nome    Cognome   Età Altezza  Peso  Sport
ID
1    Alessio   Azzalini  22.0    1,88    55    1.0
2     Biagio   Bergotti  24.0    1,85    56    1.0
4      Dario     Denisi  31.0    1,75    75    2.0
5    Edoardo    Esterni  25.0    1,77    64    2.0
7    Giorgio  Guglielmi  27.0    1,69    83    3.0
8     Iginio    Inniver  19.0    1,71    81    3.0
9       Luca      Lombi  18.0    1,75    73    4.0
10    Matteo      Misti  19.0    1,81    54    4.0
11    Nicola      Netti  23.0     1,9   -81    4.0
12   Osvaldo     Ostuni  22.0    1,55    90    4.0
13     Paolo   Pescheri  28.0    2,01    82    5.0
14  Raffaele    Rustici  34.0     2,1    78    5.0

### 2) Rimuovere le righe che contengono NaN nella colonna "Sport" (gli altri NaN li reputiamo accettabili).

In [60]:
clean_df = df.dropna(subset = ["Sport"])
clean_df

        Nome    Cognome   Età Altezza  Peso  Sport
ID
1    Alessio   Azzalini  22.0    1,88    55    1.0
2     Biagio   Bergotti  24.0    1,85    56    1.0
3      Carlo     Cucini   NaN    1,84    68    1.0
4      Dario     Denisi  31.0    1,75    75    2.0
5    Edoardo    Esterni  25.0    1,77    64    2.0
6   Federico   Francini  30.0     NaN    77    3.0
7    Giorgio  Guglielmi  27.0    1,69    83    3.0
8     Iginio    Inniver  19.0    1,71    81    3.0
9       Luca      Lombi  18.0    1,75    73    4.0
10    Matteo      Misti  19.0    1,81    54    4.0
11    Nicola      Netti  23.0     1,9   -81    4.0
12   Osvaldo     Ostuni  22.0    1,55    90    4.0
13     Paolo   Pescheri  28.0    2,01    82    5.0
14  Raffaele    Rustici  34.0     2,1    78    5.0

### 3) Sostituire i NaN con un valore di nostra scelta (ES: 0)

In [61]:
clean_df = df.fillna(0)
clean_df

        Nome    Cognome   Età Altezza  Peso  Sport
ID
1    Alessio   Azzalini  22.0    1,88    55    1.0
2     Biagio   Bergotti  24.0    1,85    56    1.0
3      Carlo     Cucini   0.0    1,84    68    1.0
4      Dario     Denisi  31.0    1,75    75    2.0
5    Edoardo    Esterni  25.0    1,77    64    2.0
6   Federico   Francini  30.0       0    77    3.0
7    Giorgio  Guglielmi  27.0    1,69    83    3.0
8     Iginio    Inniver  19.0    1,71    81    3.0
9       Luca      Lombi  18.0    1,75    73    4.0
10    Matteo      Misti  19.0    1,81    54    4.0
11    Nicola      Netti  23.0     1,9   -81    4.0
12   Osvaldo     Ostuni  22.0    1,55    90    4.0
13     Paolo   Pescheri  28.0    2,01    82    5.0
14  Raffaele    Rustici  34.0     2,1    78    5.0
15   Stefano    Soncini  39.0    1,95    77    0.0

### 4) Sostituire i NaN di età con l'età media

In [62]:
df = pd.read_csv("/kaggle/input/dataset-per-pandas/Atleti.csv", index_col = "ID", sep = ";")
età_media = df["Età"].mean()
df["Età"] = df["Età"].fillna(età_media)
df

        Nome    Cognome        Età Altezza  Peso  Sport
ID
1    Alessio   Azzalini  22.000000    1,88    55    1.0
2     Biagio   Bergotti  24.000000    1,85    56    1.0
3      Carlo     Cucini  25.785714    1,84    68    1.0
4      Dario     Denisi  31.000000    1,75    75    2.0
5    Edoardo    Esterni  25.000000    1,77    64    2.0
6   Federico   Francini  30.000000     NaN    77    3.0
7    Giorgio  Guglielmi  27.000000    1,69    83    3.0
8     Iginio    Inniver  19.000000    1,71    81    3.0
9       Luca      Lombi  18.000000    1,75    73    4.0
10    Matteo      Misti  19.000000    1,81    54    4.0
11    Nicola      Netti  23.000000     1,9   -81    4.0
12   Osvaldo     Ostuni  22.000000    1,55    90    4.0
13     Paolo   Pescheri  28.000000    2,01    82    5.0
14  Raffaele    Rustici  34.000000     2,1    78    5.0
15   Stefano    Soncini  39.000000    1,95    77    NaN

### 5) Sostituire i NaN di "sport" con la moda (sport più diffuso)

In [63]:
df = pd.read_csv("/kaggle/input/dataset-per-pandas/Atleti.csv", index_col = "ID", sep = ";")
sport = df["Sport"].mode()[0]
df["Sport"] = df["Sport"].fillna(sport)
df

        Nome    Cognome   Età Altezza  Peso  Sport
ID
1    Alessio   Azzalini  22.0    1,88    55    1.0
2     Biagio   Bergotti  24.0    1,85    56    1.0
3      Carlo     Cucini   NaN    1,84    68    1.0
4      Dario     Denisi  31.0    1,75    75    2.0
5    Edoardo    Esterni  25.0    1,77    64    2.0
6   Federico   Francini  30.0     NaN    77    3.0
7    Giorgio  Guglielmi  27.0    1,69    83    3.0
8     Iginio    Inniver  19.0    1,71    81    3.0
9       Luca      Lombi  18.0    1,75    73    4.0
10    Matteo      Misti  19.0    1,81    54    4.0
11    Nicola      Netti  23.0     1,9   -81    4.0
12   Osvaldo     Ostuni  22.0    1,55    90    4.0
13     Paolo   Pescheri  28.0    2,01    82    5.0
14  Raffaele    Rustici  34.0     2,1    78    5.0
15   Stefano    Soncini  39.0    1,95    77    4.0

# 6) Specificare che la colonna "sport" deve contenere dati di tipo intero

In [64]:
df['Sport'] = df['Sport'].astype(int)
df

        Nome    Cognome   Età Altezza  Peso  Sport
ID
1    Alessio   Azzalini  22.0    1,88    55      1
2     Biagio   Bergotti  24.0    1,85    56      1
3      Carlo     Cucini   NaN    1,84    68      1
4      Dario     Denisi  31.0    1,75    75      2
5    Edoardo    Esterni  25.0    1,77    64      2
6   Federico   Francini  30.0     NaN    77      3
7    Giorgio  Guglielmi  27.0    1,69    83      3
8     Iginio    Inniver  19.0    1,71    81      3
9       Luca      Lombi  18.0    1,75    73      4
10    Matteo      Misti  19.0    1,81    54      4
11    Nicola      Netti  23.0     1,9   -81      4
12   Osvaldo     Ostuni  22.0    1,55    90      4
13     Paolo   Pescheri  28.0    2,01    82      5
14  Raffaele    Rustici  34.0     2,1    78      5
15   Stefano    Soncini  39.0    1,95    77      4

### 7) Rimuovere righe con pesi negativi

In [65]:
# Rimuovere righe con pesi negativi
df = df.drop(df[df['Peso'] < 0].index)
df

        Nome    Cognome   Età Altezza  Peso  Sport
ID
1    Alessio   Azzalini  22.0    1,88    55      1
2     Biagio   Bergotti  24.0    1,85    56      1
3      Carlo     Cucini   NaN    1,84    68      1
4      Dario     Denisi  31.0    1,75    75      2
5    Edoardo    Esterni  25.0    1,77    64      2
6   Federico   Francini  30.0     NaN    77      3
7    Giorgio  Guglielmi  27.0    1,69    83      3
8     Iginio    Inniver  19.0    1,71    81      3
9       Luca      Lombi  18.0    1,75    73      4
10    Matteo      Misti  19.0    1,81    54      4
12   Osvaldo     Ostuni  22.0    1,55    90      4
13     Paolo   Pescheri  28.0    2,01    82      5
14  Raffaele    Rustici  34.0     2,1    78      5
15   Stefano    Soncini  39.0    1,95    77      4

# 17. Eseguire join tra df

### Per joinare dei df abbiamo 2 principali opzioni:

* ### join: unisce i df sugli indici
* ### merge: unisce i df su colonne di nostra scelta

In [66]:
# Importiamo i df da joinare
atleti = pd.read_csv("/kaggle/input/dataset-per-pandas/Atleti.csv", index_col = "ID", sep = ";")
sport = pd.read_csv("/kaggle/input/dataset-per-pandas/Sport.csv", index_col = "ID", sep = ";")

### Concentrandoci su merge, possiamo trovarci di fronte a due possibili situazioni

1. ### Vogliamo joinare su due colonne non index. In questo caso scriviamo
### merged_df = df1.merge(df2, left_on='nome', right_on='player_name')

2. ### Vogliamo joinare su una colonna ed un index. In questo caso scriviamo, ad esempio
### merged_df = df1.merge(df2, left_on='nome', right_index=True)

### Noi ci troviamo nel secondo caso.

In [67]:
merged_df = atleti.merge(sport, left_on='Sport', right_index=True)
merged_df

    Sport      Nome    Cognome   Età Altezza  Peso  Sport_x        Sport_y
ID
1     1.0   Alessio   Azzalini  22.0    1,88    55      1.0         Calcio
2     1.0    Biagio   Bergotti  24.0    1,85    56      1.0         Calcio
3     1.0     Carlo     Cucini   NaN    1,84    68      1.0         Calcio
4     2.0     Dario     Denisi  31.0    1,75    75      2.0           Golf
5     2.0   Edoardo    Esterni  25.0    1,77    64      2.0           Golf
6     3.0  Federico   Francini  30.0     NaN    77      3.0         Ippica
7     3.0   Giorgio  Guglielmi  27.0    1,69    83      3.0         Ippica
8     3.0    Iginio    Inniver  19.0    1,71    81      3.0         Ippica
9     4.0      Luca      Lombi  18.0    1,75    73      4.0  Body building
10    4.0    Matteo      Misti  19.0    1,81    54      4.0  Body building
11    4.0    Nicola      Netti  23.0     1,9   -81      4.0  Body building
12    4.0   Osvaldo     Ostuni  22.0    1,55    90      4.0  Body building
13    5.0     Paolo   Pescheri  28.0    2,01    82      5.0         Basket
14    5.0  Raffaele    Rustici  34.0     2,1    78      5.0         Basket